<div class='status'>
  <h3>Account Info</h3>

  <div class='section-wrap'>
    <div class='subsection-label'>Status</div>
    <div class='section-content'>
      <%= content_tag :div, class: "status #{@model.billing_status}" do %>
        <span>Account </span>
        <strong>
           <%= content_tag :span, "#{@model.billing_status.titlecase}", class: 'value' %>
          <i class='fa fa-circle'></i>
        </strong>
      <% end %>

      <% if @model.billing_status == 'trial' %>
        <br />
        Your free trial will continue until you recieve your first RFP! When a planner has sent you an RFP your subscription will begin automatically.
      <% end %>

      <% if plan %>
        Plan: <strong><%= plan['plan']['name'] %></strong>
        <% if plan['start'] %>
          <br />
          Started on: <strong><%= prettify_date(plan['start']) %></strong>
        <% end %>

        <% if (plan['ended_at']) %>
          <br />
          Ended on: <strong><%= prettify_date(plan['ended_at']) %></strong>
        <% end %>
        <br />
      <% end %>
    </div>
  </div>

  <% if upcoming_invoice && upcoming_invoice[:amount_due] > 0
    next_payment_date = upcoming_invoice[:period_end]
    next_payment_subtotal = upcoming_invoice[:subtotal]
    next_payment_discount = nil
    next_payment_total = upcoming_invoice[:total]
    coupon_id = nil

    if upcoming_invoice[:discount] && upcoming_invoice[:discount][:coupon]
      coupon_id = upcoming_invoice[:discount][:coupon][:id]
      next_payment_amount_discount = upcoming_invoice[:discount][:coupon][:amount_off]
      next_payment_percent_discount = upcoming_invoice[:discount][:coupon][:percent_off]
    end
    %>

    <div class='section-wrap'>
      <div class='subsection-label'>Payment</div>
      <div class='section-content'>
        <strong><%= cc_brand %> **** **** **** <%= cc_last_4 %></strong> Exp: <strong><%= cc_exp_month %>/<%= cc_exp_year %></strong>

          <br />
          Next Payment due: <strong><%= prettify_date(next_payment_date) %></strong>

          <% if next_payment_amount_discount || next_payment_percent_discount %>
            <br />
            Next Payment Subtotal: <strong>$<%= prettify_amount(next_payment_subtotal) %></strong>

            <% if next_payment_amount_discount %>
              <br />
              Next Payment Discount: <strong>$<%= prettify_amount(next_payment_amount_discount) %></strong>
            <% end %>

            <% if next_payment_percent_discount %>
              <br />
              Next Payment Discount: <strong>%<%= next_payment_percent_discount %></strong>
            <% end %>
          <% end %>

          <br />
          Next Payment Total: <strong>$<%= prettify_amount(next_payment_total) %></strong>

      </div>
    </div>
  <% end %>
</div>
