<%= section_wrap_full({
  title: "View Event",
  subtitle: "All RFPs under the selected event for this location"
}) do %>
  <%= render partial: "/vendors/admin/locations/crumbs", locals: { location: @location, page: 'manage-event' } %>
<% end %>


<div class='inner'>
  <div class="subsection-wrap">
    <div class='subsection-label'><%= @event.name %></div>

    <% if @event.start_date %>
      <div class='dates'>
        <span>
          <%= prettify_date_short(@event.start_date.to_i) %>
          <% if @event.end_date %>
            - <%= prettify_date_short(@event.end_date.to_i) %>
          <% end %>
        </span>

        <span class='from-or-ago'>
          (<%= @event.date_from_or_ago_in_words %>)
        </span>
      </div>
    <% end %>

    <%= location_list_address(@event) %>
  </div>

  <% @negotiations.each do |n| %>
    <%= render partial: 'negotiation', locals: { negotiation: n } %>
  <% end %>
</div>
