<%= render partial: 'inquiry_header' %>



<div class='inner suggestions'>
  <h1>New Suggestion</h1>

  <%= responsive_form_for @suggestion, url: planners_admin_inquiries_suggestions_path do |f| %>
    <%= f.text_field :subject %>
    <%= f.text_area :body %>

    <div class='submit'>
      <%= submit_tag 'Create', class: 'btn f-right' %>
      <%= back_to_planner_inquiries %>
    </div>
  <% end %>
</div>
