<p>We've received your payment for your SlingPlan subscription. You can keep this receipt for your records. For questions, contact us anytime at support@slingplan.com. Thank you for your business!</p>

<p>Receipt:</p>
<div style='padding-left: 8px;'>
  <div>Date: <%= Time.at(@charge[:created]).strftime("%d %b %Y%l:%M %p %Z") %></div>
  <div>Amount: <%= sprintf('$%0.2f', @charge[:amount].to_f / 100.0).gsub(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1,") %> (USD)</div>
  <div>Charged to: <%= @charge[:source][:brand] %> (**** **** **** <%= @charge[:source][:last4] %>)</div>
  <div>Charge ID: <%= @charge[:id] %></div>
</div>

