<%= section_wrap_full({
  title: "Payment Information",
  subtitle: "Choose the subscription plan right for you and supply us with your payment information.",
  class: 'short'
}) do; end %>



<div class='inner devise'>
  <%= form_tag('/planners/admin/sign_up/subscribe',
    url: '/planners/admin/sign_up/subscribe',
    id: 'credit-card-form',
    class: 'credit-card-form',
    role: 'form',
    authenticity_token: true) do %>

    <div class='hint'>
      <h3>Welcome to SlingPlan!</h3>
      <br />
      <p>
        Please pick a plan below to finish up your registration.  You will be able to change your subscription plan at any point after registration is complete - and that includes our <strong>FREE</strong> Basic plan!
      </p>
    </div>

    <div class='subsection-wrap'>
      <%= render partial: '/billing/plans', locals: { role: :planner }  %>
    </div>

    <div id="error_explanation" class='payment-errors'></div>

    <div class='subsection-wrap credit-card-wrap'>
      <%= render partial: '/billing/card_info', locals: { role: :planner } %>
    </div>

<%
#    <div class='subsection-wrap'>
#      <%= render partial: '/planners/admin/account/billing/coupon_info'
#    </div>
%>

    <div class='submit'>
      <%= submit_tag 'Subscribe' %>
    </div>

  <% end %>
</div>
